:root {

}

body {
    background-color: gainsboro;
}

header {
    background-color: blanchedalmond;
    font-size: 3em;
    padding: 5px
}
a {
    color:black
}
main {
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gainsboro;
    padding: 5px
}

.navbar-nav {
    font-size: 1rem;
}


#introduction {
    display: flex;
    padding: 2% 0 0 0;
}

#introduction p {
    padding: 0 0 0 1%;
}

#works {
    margin: 2% 0 0 0;
}

.project1Span{
    height: 15vw;
    width: 100%;
    background-image: url("https://user-images.githubusercontent.com/88464865/136594157-63905bb0-f41f-4c50-b4dc-9cd6fc894c2b.png");
    background-size: cover;
    background-position: center;
}

.project1Span{
    height: 15vw;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/Alextheshire/mental-health-tracker/dev/assets/screencapture-mental-health-tracker-dbt-herokuapp-profile-2021-11-09-09_41_16.png");
    background-size: cover;
    background-position: center;
}

#contact {
    display: flex;
    padding: 2%;
    justify-content: center;
}
#contact ul {
    display: flex;
    justify-content: center;
}
#contact li {
    display: inline-block;
    padding:0 50% 0 50%;
}

footer {
    text-align: center;
}


.assignments {
    margin: 5%;
}

.slideshow-container {
    max-width: 1420px;
    position: relative;
    margin: auto;
  }

  .works{
      display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }